body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: space-between;
  margin: 20px 0;
}

.selected {
  color: #333333;
  font-size: 26px;
  font-weight: 700;
  margin: 10px 20px 0 0;
}

.person-info {
  display: flex;
  height: 100px;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px;
  padding-bottom: 40px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  margin: 10px 0;
  background: #fff;
  cursor: pointer;
  min-width: 350px;
  gap: 43px;
  border: 2px solid transparent
}
.person-info:hover {
  border-color: pink;
}

.person-info-header{
  display: flex;
  align-items: center;
  gap: 10px;
}

.initials {
  color: #333333;
  font-size: 18px;
  border-radius: 50%;
  border: 1.5px solid black;
  line-height: 36px;
  height: 36px;
  width: 36px;
}

.firstNameLastName {
  color: #333333;
  font-size: 23px;
  font-weight: 700;
  text-align: left;
}

.jobTitle {
  color: #e74c3c;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.emailAddress {
  color: #666666;
  font-size: 16px;
  line-height: 1.8em;
  width: 100%;
  text-align: center;
}
