body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: space-between;
  margin: 20px 0;
}

.selected {
  color: #333333;
  font-size: 26px;
  font-weight: 700;
  margin: 10px 20px 0 0;
}

.person-info {
  display: flex;
  height: 100px;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px;
  padding-bottom: 40px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  margin: 10px 0;
  background: #fff;
  cursor: pointer;
  min-width: 350px;
  gap: 43px;
  border: 2px solid transparent
}
.person-info:hover {
  border-color: pink;
}

.person-info-header{
  display: flex;
  align-items: center;
  gap: 10px;
}

.initials {
  color: #333333;
  font-size: 18px;
  border-radius: 50%;
  border: 1.5px solid black;
  line-height: 36px;
  height: 36px;
  width: 36px;
}

.firstNameLastName {
  color: #333333;
  font-size: 23px;
  font-weight: 700;
  text-align: left;
}

.jobTitle {
  color: #e74c3c;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.emailAddress {
  color: #666666;
  font-size: 16px;
  line-height: 1.8em;
  width: 100%;
  text-align: center;
}

.error-container{
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  transition: all 300ms;
  color: #e74c3c;
}

.error{
  margin: 0px;
}

button {
 color: white;
 font-weight: 600;
 background-color: #000000;
 border-radius: 25px;
 padding: 0px 32px;
 cursor: pointer;
 text-transform: uppercase;
 border: none;
 background-size: 0% 100%;
 background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,.7) 100%);
 background-repeat: no-repeat;
 transition: background-color .5s;
 line-height: 45px;
 height: 45px;
}

button:hover{
 background-color: #575757;
 background-size: 200% 100%;
 transition: all 1s;
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 13px;
}
.loading div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading div:nth-child(1) {
  left: 8px;
  animation: loading1 0.6s infinite;
}
.loading div:nth-child(2) {
  left: 8px;
  animation: loading2 0.6s infinite;
}
.loading div:nth-child(3) {
  left: 32px;
  animation: loading2 0.6s infinite;
}
.loading div:nth-child(4) {
  left: 56px;
  animation: loading3 0.6s infinite;
}
@keyframes loading1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
